<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <header class="green-header"></header>
    <div id="app">
        <div class="container">
            <div class="container-left">
                <div class="up-down-bar" id="user-bar">
                    <div class="up-down-bar-item">
                        <div class="avatar-container" id="user-profile">
                            <img :src="'images/' + user.image" :class="imgRound">
                        </div>
                        <div>{{ user.userName }}</div>
                    </div>

                    <div class="icon-container">
                        <i class="fa-solid fa-circle-notch fa-lg"></i>
                        <i class="fa-solid fa-message fa-lg"></i>
                        <div class="btn-ellipsis" @click="addChatContact">
                            <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                        </div>
                    </div>
                </div>
                <div class="notifiche">
                    <div class="banner"><i class="fa-solid fa-bell-slash fa-lg"></i></div>
                    <div>
                        <div class="caption">Ricevi notifiche di nuovi messaggi</div>
                        <a href="#0" class="info-link">Attiva notifiche desktop</a>
                    </div>
                </div>
                <div class="input-group">
                    <div class="div-form">
                        <div class="btn-search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <input type="text" class="input-val" placeholder="Cerca o inizia una nuova chat"
                            v-model="searchUser">
                    </div>
                </div>
                <div class="chat-container">
                    <!-- item contatti generati dinamicamente -->
                    <div class="chat-item" v-for="person in contactsList" @click="onChatClick(person)"
                        :class="addClassFlexCenter(lastMessage(person.messages))">
                        <div class="avatar-container">
                            <img v-if="person.avatar.startsWith('http')"
                            :src="person.avatar" :class="imgRound" alt="">
                            <img v-else :src="'images/' + person.avatar + '.jpg'" 
                            :class="imgRound">
                        </div>
                        <div>
                            <h4>{{ person.name }}</h4>
                            <span v-if="lastMessage(person.messages) !== ''" class="text-info">
                                {{ lastMessage(person.messages) }}
                            </span>
                        </div>
                        <div class="item-hour">
                            <span class="text-info">{{ lastHour(person.messages) }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-right">
                <div class="up-down-bar">
                    <div class="up-down-bar-item">
                        <div class="current-contact">
                            <img v-if="currentChat.avatar.startsWith('http')" :src="currentChat.avatar"
                            :class="imgRound">
                            <img v-else :src="'images/' + currentChat.avatar + '.jpg'" 
                            :class="imgRound">
                        </div>
                        <div>
                            <div>{{ currentChat.name }}</div>
                            <span class="text-gray" v-if="lastHour(currentChat.messages)===''"></span>
                            <span class="text-gray" v-else>Ultimo accesso oggi alle {{ lastHour(currentChat.messages)
                                }}</span>
                        </div>
                    </div>
                    <div class="icon-container">
                        <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                        <i class="fa-solid fa-paperclip fa-lg"></i>
                        <div class="btn-ellipsis" @click="dropToggle">
                            <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                            <div class="dropdown" v-if="dropShow">
                                <ul>
                                    <li @click="deleteAllMessage(currentChat.messages)">Elimina messaggi</li>
                                    <li @click="deleteChat(currentChat)">Elimina chat</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-content">
                    <div class="message-row" v-for="mes in currentChat.messages">
                        <div :class="messageClass + ' ' + ctrlMessage(mes.status)">
                            <span class="dropdown-btn" :class="{'opened': mes.show}" @click="toggle(mes)">
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-menu" v-if="mes.show">
                                    <ul>
                                        <li>Message info</li>
                                        <li @click="deleteMessage(mes,currentChat)">Delete message</li>
                                    </ul>
                                </div>
                            </span>
                            <span class="hour-message">{{ formatDateHour(mes.date) }}</span>
                            {{ mes.message }}
                        </div>
                    </div>
                </div>
                <div class="up-down-bar" id="message-bar">
                    <div class="btn">
                        <i class="fa-regular fa-face-smile fa-lg"></i>
                    </div>
                    <input type="text" class="input-message" placeholder="Scrivi un messaggio"
                        @keyup.enter="addMessage(currentChat)" v-model="newMessage.message">
                    <div class="btn">
                        <i v-if="newMessage.message.trim().length > 0" class="fa-solid fa-paper-plane fa-lg"
                            @click="addMessage(currentChat)" style="cursor: pointer;"></i>
                        <i v-else class="fa-solid fa-microphone fa-lg"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="js/script.js"></script>
</body>

</html>